@model PageData<Product>

<h1>Welcome To Asp.net Core</h1>



@foreach (var item in Model.Data)
{
    <div>
        <h4>@item.Name <span><small>@item.Price</small></span></h4>
        <p>@item.Description</p>
        </div>
}